.cursor-pointer {
  cursor: pointer;
}
.canvas-container .main-canvas {
  pointer-events: none;
}
.app.with-photo:not(.mobile) .canvas-container:hover .main-canvas,
.app.mobile.editing .main-canvas {
  opacity: 0.5;
}
.app:not(.mobile) .canvas-container:not(:hover) .photo-controller,
.app.mobile:not(.editing) .photo-controller {
  display: none;
}
.canvas-container .image-selector {
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bg-navbar {
  background-color: #23ac0e;
}
.navbar-light .navbar-brand {
  font-weight: bold;
  color: #ffffff;
}
.description {
  font-size: 1em;
  font-weight: bold;
  margin: 25px 0 10px;
}
.movie-help {
  margin-bottom: 15px;
}
.movie-help a {
  font-size: 12px;
  color: #666;
}
.movie-help a .fa-youtube {
    color: #ff1d1d;
}
label {
  font-size: 12px;
  margin: 0;
  color: #666;
}
.btn-primary {
  color: #fff;
  background-color: #e1147f;
  border-color: #e1147f;
  font-weight: bold;
}
.btn-primary:hover {
    background-color: #cc1273;
    border-color: #cc1273;
}
